<div class="container col-md-6 mt-3 mb-3 card bg-light">
   <form action="/toy3/edit/{{ toy3._id }}" method="post">
      <h1 class="text text-danger text-center text-uppercase mt-3">Edit toy</h1>
      <div class="form-group mt-3">
        <label class="h5 text text-success" for="">Name</label> 
        <input class="form-control" type="text" name="name" value="{{ toy3.name }}" required>
      </div>
      <div class="form-group mt-3">
        <label class="h5 text text-success" for="">Brand</label> 
        <input class="form-control" type="text" name="brandname" value={{ toy3.brandname }} required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">NSX</label>
         <input class="form-control" type="date" name="dob" value="{{ toy3.dob }}" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Quanlity</label>
         <input class="form-control" type="number" name="quanlity" value={{ toy3.quanlity }} required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Price</label>
         <input class="form-control" type="number" name="price" value={{ toy3.price }} required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Image</label>
         <input class="form-control" type="url" name="image" value={{ toy3.image }} required> 
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Description</label>
         <input class="form-control" type="text" name="des" value="{{ toy3.des }}" required>
      </div>
      <div class="form-group text-center mt-3 mb-3">
         <input class="btn btn-primary" type="submit" value="Edit">
      </div>
   </form>
</div>