<div class="container text-center mt-3 mb-3">
   <table class="table">
      <thead class="thead-dark">
      <tr>
         <th colspan="7">
            <h1 class="text text-primary">TOY LEGO LIST</h1>
         </th>
         <th>
            <a class="btn btn-primary" href="/toy2/add">Add</a>
         </th>
      </tr>
      <tr>
         <th>Name</th>
         <th>Brand</th>
         <th>NSX</th>
         <th>Quanlity</th>
         <th>Price</th>
         <th>Image</th>
         <th>Description</th>
         <th>Menu</th>
      </tr>
      {{#each Toys2 }}
            <tr>
               <td>{{ name }}</td>
               <td>{{  brandname }}</td>
               <td>{{ dateFormat dob "DD-MM-YYYY"}}</td>
               <td>{{ quanlity }}</td>
               <td>{{ price }}</td>
               <td>
                  <img src="{{ image }}" width="100" height="100">
               </td>
               <td>{{des}}</td>
               <td>
                  <a class="btn btn-warning" href="/toy2/edit/{{ _id }}">Edit</a>
                  <a class="btn btn-danger" href="/toy2/delete/{{ _id }}"
                  onclick="return confirm('Are you sure to delete this toy ?');"
                  >Delete</a>
               </td>
            </tr>
      {{/each}}
   </table>
</div>